



body {
  background: url(img/pikachu.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;


}

header {
  border: white solid 1px;
  background-color: rgba(5, 5, 5, 0.7);
  border-radius: 10px;
  
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  padding: 5px 20px;
  border: 1px solid transparent;

}

.login-box {
  background: rgba(0, 0, 0, 0.6);
  border: white solid 1px;
  width: 320px;
  height: 568px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 18px;
  font-family: Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.logo {
  width: 90%;
  margin: 0.2em 1em 0.2em;
}

.label {
  height: 14px;
  display: block;
  margin-top: 16px;
  margin-bottom: 13px;
  font-size: large;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.size-input {
  width: 280px;
  height: 30px;
  border: none;
  color: yellow;
  border-radius: 3px;
  font-size: large;
  background: rgba(38, 37, 59, 0.8);

}

.size-button {
  width: 280px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: large;
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: 0.6s ease;

}


.username-password {
  width: 280px;
  height: 210px;
  margin-top: 50px;
  margin-left: 20px;

}

.line-blue {
  font-weight: bold;
  font-size: large;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.hide {
  display: none;

}

#forgot-password {
  margin-top: 10px;
  margin-left: 140px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

.enter-register {
  margin-top: 48px;
  margin-left: 20px;
  margin-right: 20px;
}

.inline {
  display: inline-block;
  font-size: large;
  color: blue;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1px;
  font-family: 'Open Sans', sans-serif;
}

.message-error {
  color: crimson;
  font-size: medium;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.line-white {
  display: inline-block;
  margin: 0 auto;
  color: white;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;


}

#pokemon-card {
  padding: 0;
  margin: 2px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

#pokemon-card:hover {
  background: rgba(0, 0, 0, 0.4);
  transition: 0.6s ease;
  display: flex;
}

.pokemonvista {
  background: rgba(241, 197, 2, 0.8);
  border-radius: 8px;
  margin: 35px;
  display: flex;

}

.caracteristics {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu {
  font-size: 35px;
  font-weight: bold;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}

.drop-down {
  text-align: center;
}

.dropdown-style {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  width: 300px;
  height: 45px;
  margin: 15px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  border: white solid 1px;
}


.image {
  width: 180px;
  height: 180px;
}

.percent {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color: white;

}

.colorpoke {
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.colorshow {
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}


@media screen and (max-width:375px) {
  .nav-menu {
    font-size: x-large;
  }

  .dropdown-style {
    color: yellow;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    font-size: 18px;
    width: 120px;
    height: 40px;
    margin: 10px;
  }
}
footer{
  margin-top:650px;
 text-align: center;
  color:#fff;
}
